.prod-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-image {
	width: 60%;
}

.thumbnails {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	margin-top: 20px;
}

.thumbnail {
	width: 100px;
	cursor: pointer;
	transition: transform 0.2s;
}

.thumbnail:hover {
	transform: scale(1.1);
}